
@import '../../../../theme/sass/auth';
.multilingual-link{
	cursor: pointer;
	color: #54FF9F !important;
}
.forgotpass
{ float:right;
	// color:#fff!important;
	text-decoration: none;
	margin-left:450px;
	margin-top:20px;
	cursor:pointer;
	
}

#txt {
    position: relative;
    top: 32px;
    font-weight: bold;
    font-size: 19px;
    // color: white;
    color:black;
}

.notmatch {
   position: absolute;
    top: -45.5px;
    left: 230px;
    color: red;
}

.bbt {
    margin-left: 336px;
    margin-top: -121px;
}