<div class="modal-content" style="background-color:white;" >
    <div class="modal-header" style="background-color: #2c3e50;">
        <h2 class="modal-title" style="color:black;">Change Password</h2>
        <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>


        <!--<div class="auth-main">
   <div class="auth-block">-->
        <!--<button type="button" class="resetpass" routerLink="/forgot-password">
          <i class="fa fa-arrow-left fa-2x" style="color:#fff" aria-hidden="true"></i>
        </button>
       -->
    </div>
    <div class="col-sm-10">
        <p class="Enter-your-email-bel" id="txt" style="margin-left:236px;">Enter New Password to Reset .
        </p>
    </div>


    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">

        <div class="col-sm-10">
            <div class="form-group row"></div>
            <div class="form-group row"></div>
            <div class="form-group row"></div>
            <div class="form-group row"></div>


            <div class="form-group row " [ngClass]="{'has-error': (!oldpassword.valid && oldpassword.touched), 'has-success': (oldpassword.valid && oldpassword.touched)}">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <span class="min" *ngIf="(!oldpassword.valid && oldpassword.touched)">Min 8 characters required</span>
                    <input [formControl]="oldpassword" style=" margin-left: -63px;width: 508px;"type="password" class="form-control" placeholder="Old Password" id="inputPassword5" [(ngModel)]="user.oldpassword">
                </div>
                <!--<div class="col-md-4"></div> -->
            </div>

            <div class="form-group row"></div>
            <!--<div class="form-group row"></div>-->









            <div class="form-group row " [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <span class="min" *ngIf="(!password.valid && password.touched)">Min 8 characters required</span>
                    <input [formControl]="password"style=" margin-left: -63px;width: 508px;"type="password" class="form-control" placeholder="Password" id="inputPassword3" [(ngModel)]="user.password">
                </div>
                <!--<div class="col-md-4"></div> -->
            </div>
        </div>
        <div class="form-group row"></div>
        <!--<div class="form-group row"></div>-->

        <div class="col-sm-10">
            <div class="form-group row   admin" [ngClass]="{'has-error': (!confirmpassword.valid && confirmpassword.touched), 'has-success': (confirmpassword.valid && confirmpassword.touched)}">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <span class="min2" style="top: 50.5px;" *ngIf="(!confirmpassword.valid && confirmpassword.touched)">Min 8 characters required</span>
                    <input [formControl]="confirmpassword "style=" margin-left: -63px;width: 508px;" type="password" class="form-control" placeholder="Confirm Password" id="inputPassword4 "
                        [(ngModel)]="user.confirmpassword ">
                </div>
                <!--<div class="col-md-4"></div>-->
            </div>
        </div>
        <br/>
        
        <!--<br/><br/>-->

        <div class="col-sm-10">
            <div class="form-group row ">

            </div>
            <div *ngIf="!passwords.valid && (password.touched || confirmpassword.touched) " class="notmatch">
                Passwords does not match.
            </div>
        </div>
        <div class="form-group row"></div>
        <div class="form-group row"></div>
        <div class="form-group row"></div>
        <!--<button type="button" class="resetpass" routerLink="/forgot-password" style="margin-top:65px">
          <i class="fa fa-arrow-left fa-2x" style="color:#fff" aria-hidden="true"></i>
        </button>-->
        <button [disabled]="!form.valid" type="submit" class="btn bbt" style="background-color: #1a252f;border-color: #1a252f;"> Submit</button>
    </form>
    <!-- <button type="submit" class="btn btn-default btn-auth" (click)="openToast()">Toast click</button>
 -->
    <!--</div>-->
    <!--<div class="modal-footer">
 
 
     
           <i class="fa fa-times" aria-hidden="true" style="color:red ;margin-top: -281px; cursor:pointer" (click)="closeModal()"></i>
       
 
  </div>-->

    <!--</div>-->



</div>