<div class="container-fluid" style="background-color:white">
    <!--<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">-->

    <!--<div class="page-header">
            <h1>
                <span>Angular2 DataTable component</span><br/>
                <small>by mariuszfoltak</small>
            </h1>
        </div>-->
    <div class="row" style="border-bottom:1px solid #d9d9d9;">
        <div class="card-header">
            <strong style="font-weight:bold;color:black;margin-left:-10px;">User List</strong>

        </div>

    </div>


    <div class="row">
        <!--<h2 class="col-xs-6">Simple data table</h2>-->

        <div class="col-xs-6" style="margin-top:20px;margin-left:16px;">

            <label>Show</label>
            <!--<select class="form-control input-sm" [(ngModel)]="rowsOnPage" style=" margin-left: 47px;margin-top:-30px;"> 
            
            
                    <option [ngValue]="5">5</option>
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="15">15</option>

              
                </select>-->

        </div>
        <div class="col-xs-6">

            <input class="form-control" style="margin-left:796px;;margin-top:17px;width:170px;" placeholder="Search" [(ngModel)]="filterQuery"
            />
            <!--<div class="row">
                    <label class="col-xs-12 label-control" style="margin-left:24px;">Sort by</label>
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <select class="form-control input-sm" [(ngModel)]="sortBy" style="margin-left: 25px;">
                            <option ngValue="name">Name</option>
                            <option ngValue="email">Email</option>
                            <option ngValue="age">Age</option>
                            <option [ngValue]="sortByWordLength">City</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <select class="form-control input-sm" [(ngModel)]="sortOrder" style="margin-left: 25px;">
                            <option ngValue="asc">Ascending</option>
                            <option ngValue="desc">Descending</option>
                            <option ngValue="badValue">Bad value</option>
                        </select>
                    </div>
                </div>-->
        </div>
    </div>
    <!--</div>-->
    <!--<div class="panel panel-default">
       -->

    <table class="table table-striped table-responsive " [mfData]="data | dataFilter :filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
        [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder" style="background-color:white;margin-top:-46px; ">

        <!--<input class="form-control" style= "margin-left:728px;margin-top:20px;width:170px;" placeholder="Search"[(ngModel)]="filterQuery"/> -->
        <thead>
            <!--<tr>
                       <th>-->
            <select class="form-control input-sm" [(ngModel)]="rowsOnPage" style=" margin-left: 47px;margin-top:6px; margin-bottom: 12px;"> 
            
            
                    <option [ngValue]="5">5</option>
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="15">15</option>

              
                </select>

            <!--</th>


                   </tr>    -->

            <tr>
                <!--<th style="width: 10%"></th>-->
                <th style="width: 10%">
                    <mfDefaultSorter by="userid"><a style="font-size:16px;">User Id</a></mfDefaultSorter>
                </th>
                <th style="width: 10%">
                    <mfDefaultSorter by="causeName"><a style="font-size:16px;">Cause Name</a></mfDefaultSorter>
                </th>
                <th style="width: 2%">
                    <mfDefaultSorter by="e_time"><a style="font-size:16px;">Exp Time</a></mfDefaultSorter>
                </th>
                <th style="width: 10%">
                    <mfDefaultSorter by="fname"><a style="font-size:16px;">First Name</a></mfDefaultSorter>
                </th>
                  <th style="width: 10%">
                    <mfDefaultSorter by="lname"><a style="font-size:16px;">Last Name</a></mfDefaultSorter>
                 </th>
                  <th style="width: 10%">
                    <mfDefaultSorter by="orgName"><a style="font-size:16px;">Org Name</a></mfDefaultSorter>
                 </th>
                  <th style="width: 10%">
                    <mfDefaultSorter by="photo"><a style="font-size:16px;">Photo</a></mfDefaultSorter>
                 </th>
                 <th style="width: 10%">
                    <mfDefaultSorter by="s_time"><a style="font-size:16px;">Std time</a></mfDefaultSorter>
                 </th>
                 
                 <th style="width: 10%">
                    <mfDefaultSorter by="target_amount"><a style="font-size:16px;">Target Amount</a></mfDefaultSorter>
                 </th>


                <th style="width: 10%">
                    <mfDefaultSorter by="recieve_amount"><a style="font-size:16px;">Recieve Amount</a></mfDefaultSorter>
                </th>
                <th style="width: 10%">
                    <mfDefaultSorter by="recieve_stuff"><a style="font-size:16px;">Recieve Stuff</a></mfDefaultSorter>
                </th>
                <th style="width: 10%">
                    <mfDefaultSorter by="recieve_time"><a style="font-size:16px;">Recieve Time</a></mfDefaultSorter>
                </th>
                <!--<th style="width: 20%">
                    <mfDefaultSorter by="city"><a style="font-size:16px;">City</a></mfDefaultSorter>
                </th>-->
                <!--<th colspan="2">Action</th>-->
            </tr>
            <!--<tr>-->

            <!--<th colspan="3">
                        Filter by name:
                        <input class="form-control" style= "margin-left:52px;"[(ngModel)]=" dataFilter"/>
                    </th>-->
            <!--
                    <th>
                           <select class="form-control input-sm" [(ngModel)]="rowsOnPage" style=" margin-left: 47px;margin-top:-30px;"> 
            
            
                    <option [ngValue]="5">5</option>
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="15">15</option>

              
                </select>

                    </th>-->
            <!--</tr>-->
        </thead>
        <tbody>
            <tr *ngFor="let item of mf.data">


                <!--<td>
                        <button (click)="remove(item)" class="btn btn-danger">x</button>
                    </td>-->
                <!--<td style="padding-top: 25px;">{{item.id}}</td>-->
                <td style="padding-top: 25px;">{{item.userid}}</td>
                <td style="padding-top: 25px;">{{item.causeName}}</td>
                <td style="padding-top: 25px;">{{item.e_time}}</td>
                <td style="padding-top: 25px;">{{item.fname}}</td>
                <td style="padding-top: 25px;">{{item.lname}}</td>
                <td style="padding-top: 25px;">{{item.orgName}}</td>
                <!--<td>{{item.photo}}</td>-->
                <td><img class="img" style="margin-left:0px;border-radius: 50%;height: 81px;width: 87px;" [src]="item.profile_pic!= null ?item.profile_pic : myImgUrl"></td>
                <td style="padding-top: 25px;">{{item.s_time}}</td>
                <td style="padding-top: 25px;">{{item.target_amount}}</td>
                <td style="padding-top: 25px;">{{item.recieve_amount}}</td>
                <td style="padding-top: 25px;">{{item.recieve_stuff}}</td>
                <td style="padding-top: 25px;">{{item.recieve_time}}</td>
                <!--<td style="padding-top: 25px;">{{item.country | uppercase}}</td>-->
                <!--<td style="padding-top: 25px;">{{item.city | uppercase}}</td>-->

                <!--<td>
                    <button class="edit1" *ngIf="item.blockStatus== 0">
                 <i class="fa fa-unlock edit" (click)="block(item, 1)"></i>
                 <span class="tooltiptext">Block</span>
                 </button>
                    <button class="edit1" *ngIf="item.blockStatus== 1">
                 <i class="fa fa-lock edit" (click)="block(item, 0)"></i>
                 <span class="tooltiptext">Unblock</span>
                 </button>
                </td>-->
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <mfBootstrapPaginator></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
        </table>
        <!--</div>-->
        <!--</div>-->
</div>