<div class="auth-main">
   <div class="auth-block">
       <button type="button" class="forgotpass" routerLink="/login">
          <i class="fa fa-arrow-left fa-2x" style="color:black" aria-hidden="true"></i>
        </button>
      <h1>Forgot Password</h1>
      
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value,$event)" class="form-horizontal">
      <div class="error-message">{{message}}</div>
      <div class="form-group row" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
         <!--<label for="inputEmail3" class="col-sm-2 control-label">Email</label>-->
         <div class="col-sm-1"></div>
          <div class="col-sm-10">
            <input [formControl]="email" type="email" class="form-control" id="inputEmail3" placeholder="Enter email" [(ngModel)] = "user.email" autocomplete="off">
            <div [hidden]="email.valid || (email.untouched && !submitted) || !submitted" class="alert bp-p-default">
               
            </div>
            <div class="error-message"   *ngIf="form.controls.email.touched && !form.controls.email.valid">Enter a valid email id !!
         </div>
          </div>
         <!-- <div class="error-message alert alert-danger" [@flyInOut]="state"  *ngIf="form.controls['email'].errors?.required && !form.controls['email'].pristine">Email is required !</div>
            <div class="error-message alert alert-danger" [@flyInOut]="state"  *ngIf="form.controls['email'].errors?.invalid && !form.controls['email'].pristine">Invalid email id !</div> -->
        <div class="col-sm-1"></div>
        <br>
   </div>
   

<div class="form-group row">
 <div class="col-sm-1"></div>
          <div class="col-sm-10">
      <button [disabled]="!form.valid" type="submit" class="btn btn-default btn-lg btn-block" > Submit</button>
          </div>
          <!--<a routerLink="/reset-password"> Reset </a>-->
          <div class="col-sm-1"></div>
</div>
</form>
<!-- <button type="submit" class="btn btn-default btn-auth" (click)="openToast()">Toast click</button>
 -->
</div>
</div>

