@import '../../../theme/sass/auth';
.multilingual-link{
	cursor: pointer;
	color: #54FF9F !important;
}
.forgotpass
{ float:right;
	// color:#fff!important;
	text-decoration: none;
	margin-left:450px;
	margin-top:20px;
	cursor:pointer;
	
}