<!--<div class="widgets">
  <button (click)="lgModalShow()" class="btn btn-success">Add Categories</button>

  <table class="table  table-striped user table-responsive">
    <thead>
      <tr>
        <th><b>S.No</b></th>
       
        <th><b> Name</b></th>

        <th><b></b></th>
      
         <th><b>Image</b></th>
       
          
         <th><b>Action</b></th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of customerData;let i=index ">
        <td>{{i+1}}</td>
       
        
        <td>{{ data.name }}</td>
        <td></td>
       -->
<!-- old<td><img class="img" [src]="data.customer.profilePicture[0] != null ? data.customer.profilePicture : myImgUrl" /></td>-->
<!--<td><img class="img" [src]="data.image.thumb"/></td>-->
<!--old<td><img class="img" [src]="data.image.original"/></td>-->
<!--<td colspan="2">  
                <button class="btn btn-danger"(click)="deleteCustomerConfirm(data)">
          <i class="fa fa-trash-o edit1" aria-hidden="true" style="color:red"></i>
          <span class="tooltiptext" style="color:black">delete</span>
        </button>-->

<!--<button class="btn btn-success"(click)="editCustomerConfirm(data)">
          <i class="fa fa-pencil white_color" aria-hidden="true" style="color:green"></i>
          <span class="tooltiptext" >edit</span>
        </button>

            </td>-->


<!--old<td></td>
        <td> <button class="details">{{data.customer.totalEarnings}}</button></td>
        <td><button class="edit1"><i class="fa fa-edit edit"  (click)="staticModalShow(data)"><span class="tooltiptext">edit</span></i></button></td>
        <td> <button class="edit1" *ngIf="data.isBlocked == false">
        <i class="fa fa-unlock edit" (click)="block(data, true)"></i>
        <span class="tooltiptext">block</span>
      </button>
          <button class="edit1" *ngIf="data.isBlocked == true">
        <i class="fa fa-lock edit" (click)="block(data, false)"></i>
        <span class="tooltiptext">unblock</span>
      </button>
        </td>
        <td> <button class="bank-details" (click)="getuserdetails(data)">View</button></td>old-->


<!--</tr>
    </tbody>
  </table>-->



<!--old<pagination-controls (pageChange)="pageChanged($event)" maxSize="4" directionLinks="true" autoHide="true" previousLabel="Previous"
    nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>old-->

<!--</div>-->

<table>
  <tr *ngFor="let item of data">

<div class="profile-cover">

     <td><img class="img" style="margin-left: 19px;margin-top: 33px;border-radius: 50%;height: 81px;width: 87px;" [src]="item.photo!= null ?item.photo : myImgUrl"></td>

  <div class="profile-overview">
    <h1 class="profile-name">{{item.name}}</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quae, quam reprehenderit blanditiis. Necessitatibus et
      vitae</p>
  </div>

 

</div>

<div class="profile-body">

  <div class="row">
    <div class="col-md-6">
      <div class="card">

        <div class="card-body">
          <div class="card-search">

            <div class="card-search-results">
              <div class="timeline">
                <div class="timeline-item">
                  <div class="timeline-segment">
                    <div class="timeline-divider"></div>
                  </div>
                  <div class="timeline-content"></div>
                </div>
                <div class="timeline-item">
                  <div class="timeline-segment">
                    <div class="timeline-media  circle sq-24" style="border-radius:50%;background-color: #1a252f;">
                      <!--<div class="icon icon-check"></div>-->
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="timeline-content">
                    <div class="timeline-row">
                      <div class="media">
                        <div class="media-body">
                          <h5 class="m-y-0">Email</h5>
                          <p>
                        <td><small>{{item.email}}</small></td>
                          </p>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="timeline-item">
                  <div class="timeline-segment">
                    <div class="timeline-media circle sq-24" style="border-radius:50%;background-color: #1a252f;">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="timeline-content">
                    <div class="timeline-row">
                      <div class="media">
                        <div class="media-body">
                          <h5 class="m-y-0">Phone</h5>
                          <p>
                            <td><small>{{item.phone}}</small></td>
                          </p>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="col-md-6">
      <div class="card">

        <div class="card-body">
          <div class="card-search">

            <div class="card-search-results">
              <div class="timeline">
                <div class="timeline-item">
                  <div class="timeline-segment">
                    <div class="timeline-divider"></div>
                  </div>
                  <div class="timeline-content"></div>
                </div>
                <div class="timeline-item">
                  <div class="timeline-segment">
                    <div class="timeline-media circle sq-24" style="border-radius:50%;background-color: #1a252f;">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="timeline-content">
                    <div class="timeline-row">
                      <div class="media">
                        <div class="media-body">
                          <h5 class="m-y-0">Name</h5>
                          <p>
                            <td><small>{{item.name}}</small></td>
                          </p>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="timeline-item">
                  <div class="timeline-segment">
                    <div class="timeline-media circle sq-24" style="border-radius:50%;background-color: #1a252f;">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="timeline-content">
                    <div class="timeline-row">
                      <div class="media">
                        <div class="media-body">
                          <h5 class="m-y-0">Location</h5>
                          <p>
                            <td><small>{{item.address}}</small></td>
                          </p>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>



              </div>
            </div>
          </div>

        </div>
      </div>


    </div>

  </div>


  <div class="col-md-12">
    <!--<a href="edit-profile.php" class="">       -->
    <button class="btn btn-primary btn-sm pull-right" type="button" (click)="editProfileConfirm(data)">Edit profile</button>
    <!--</a>-->
    <!--<a href="changePassword.php" >       -->
    <button class="btn btn-primary btn-sm pull-right margin-right-10" (click)="changePasswordConfirm()">Change Password</button>
    <!--</a>-->
  </div>


  