@import "../../../../theme/sass/conf/conf";

.all
{
    width:50px;
    height:50px!important;

}
.edit
{color:black;
font-size:30px;
margin-top:30px;
margin-left:20px;
cursor:pointer;
position:relative;
display:inline-block;


 &:hover .alt{
     display: block;
 }
}
.details
{
 color:black;
font-size:20px;
margin-top:30px;
margin-left:20px;
background-color: transparent;
border:none; 
}
.bank-details
{
 color:slategray;
font-size:20px;
margin-top:30px;
margin-left:20px;
cursor:pointer;
background-color:black;
border:none; 
}
.edit1
{background-color:transparent;
border:none;}
.table.user
{
  color:black;


}
.img
{
  height:130px;
  width:130px;
  border-radius:65px;
}
/* Tooltip text */
.edit1 .tooltiptext {
    visibility: hidden;
    width: 57px;
    height:30px;
    background-color:black;
    color: #fff;
    text-align: center;
   padding: 3px 0;
    border-radius: 1px;
    font-size:15px;
    cursor:pointer;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
// Show the tooltip text when you mouse over the tooltip container */
.edit1:hover .tooltiptext {
    visibility: visible;

}
.alt{
    display: none;
}
.profile-cover
{
    background-image: url(../assets/img/bckground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;


    height: 285px;
    width:100%;

}
.profile-avetar-img {
    background-color: #fff;
    border: 3px solid #fff;
    border-radius: 50%;
    margin-top: 44px;
    margin-left: 55px;
}


.profile-overview {
  margin-top: -67px;
    padding-bottom: 0;
    text-align: left;
    vertical-align: middle;
    width: 81%;
    margin-left: 208px;
    color: white;
}

.profile-name {
    color: inherit;
    display: inline-block;
    font-size: 34px;
    font-weight: 400;
    line-height: 34px;
    margin-bottom: 15px;
    margin-top: 0;
    vertical-align: top;
}

.profile-tabs {
    bottom: 0;
    left: 0;
    line-height: 0;
    position: absolute;
    width: 100%;
}

.profile-nav {
    display: inline-block;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    white-space: nowrap;
}
.profile-detail
{
    margin-top: 137px;
    margin-left: 452px;

}

.profile-detail a{


  color: white;
    font-weight: bold;
    font-size: 19px;
}
.profile-body {
    padding-bottom: 15px;
    padding-top: 15px;

    margin-top:28px;
}

.card {
    background-color: #fff;
    border: 1px solid #f2f5f8;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
    margin-bottom: 10px;
    position: relative;
}
.card-body {
    padding: 15px;
    position: relative;
}
.timeline
{
    display: table;
    width: 100%;
    padding-left: 0;
    margin-bottom: 0;
}

.timeline-item {
    border-collapse: collapse;
    display: table-row;
}

.timeline-segment {
    background-color: transparent;
    // background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 1' fill='%23e1e8ef'%3E%3Cpath d='M0 0h4v1H0z'/%3E%3C/svg%3E);
    background-position: center bottom;
    background-repeat: repeat-y;
    -webkit-background-size: 4px 1px;
    background-size: 4px 1px;
    display: table-cell;
    padding-bottom: 15px;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    width: 1%;
}

.timeline-divider {
    background-color: #e1e8ef;
    border-radius: 50%;
    display: block;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 10px;
}
.timeline-content {
    display: table-cell;
    padding-bottom: 15px;
    padding-left: 15px;
    vertical-align: middle;
    width: 99%;
    color: black;
    
}

.timeline-item {
    border-collapse: collapse;
    display: table-row;
}

.timeline-segment {
    background-color: transparent;
    // background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 1' fill='%23e1e8ef'%3E%3Cpath d='M0 0h4v1H0z'/%3E%3C/svg%3E);
    background-position: center bottom;
    background-repeat: repeat-y;
    -webkit-background-size: 4px 1px;
    background-size: 4px 1px;
    display: table-cell;
    padding-bottom: 15px;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    width: 1%;
}

.sq-24 {
    display: inline-block;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    width: 24px;
}
.icon {
    display: inline-block;
    font-family: FontAwesome;
    font-size: inherit;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.img
{
  height:120px;
  width:130px;
}