<!--<div class="widgets">
  <button (click)="lgModalShow()" class="btn btn-success">Add Categories</button>

  <table class="table  table-striped user table-responsive">
    <thead>
      <tr>
        <th><b>S.No</b></th>
       
        <th><b> Name</b></th>

        <th><b></b></th>
      
         <th><b>Image</b></th>
       
          
         <th><b>Action</b></th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of customerData;let i=index ">
        <td>{{i+1}}</td>
       
        
        <td>{{ data.name }}</td>
        <td></td>
       -->
<!-- old<td><img class="img" [src]="data.customer.profilePicture[0] != null ? data.customer.profilePicture : myImgUrl" /></td>-->
<!--<td><img class="img" [src]="data.image.thumb"/></td>-->
<!--old<td><img class="img" [src]="data.image.original"/></td>-->
<!--<td colspan="2">  
                <button class="btn btn-danger"(click)="deleteCustomerConfirm(data)">
          <i class="fa fa-trash-o edit1" aria-hidden="true" style="color:red"></i>
          <span class="tooltiptext" style="color:black">delete</span>
        </button>-->

<!--<button class="btn btn-success"(click)="editCustomerConfirm(data)">
          <i class="fa fa-pencil white_color" aria-hidden="true" style="color:green"></i>
          <span class="tooltiptext" >edit</span>
        </button>

            </td>-->


<!--old<td></td>
        <td> <button class="details">{{data.customer.totalEarnings}}</button></td>
        <td><button class="edit1"><i class="fa fa-edit edit"  (click)="staticModalShow(data)"><span class="tooltiptext">edit</span></i></button></td>
        <td> <button class="edit1" *ngIf="data.isBlocked == false">
        <i class="fa fa-unlock edit" (click)="block(data, true)"></i>
        <span class="tooltiptext">block</span>
      </button>
          <button class="edit1" *ngIf="data.isBlocked == true">
        <i class="fa fa-lock edit" (click)="block(data, false)"></i>
        <span class="tooltiptext">unblock</span>
      </button>
        </td>
        <td> <button class="bank-details" (click)="getuserdetails(data)">View</button></td>old-->


<!--</tr>
    </tbody>
  </table>-->



<!--old<pagination-controls (pageChange)="pageChanged($event)" maxSize="4" directionLinks="true" autoHide="true" previousLabel="Previous"
    nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>old-->

<!--</div>-->


<div class="container-fluid" style="background-color:white">
    <!--<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">-->

    <!--<div class="page-header">
            <h1>
                <span>Angular2 DataTable component</span><br/>
                <small>by mariuszfoltak</small>
            </h1>
        </div>-->
    <div class="row" style="border-bottom:1px solid #d9d9d9;">
        <div class="card-header">
            <strong style="font-weight:bold;color:black;margin-left:-10px;">Organisation List</strong>

        </div>

    </div>


    <div class="row">
        <!--<h2 class="col-xs-6">Simple data table</h2>-->

        <div class="col-xs-6" style="margin-top:20px;margin-left:16px;">

            <label>Show</label>
            <!--<select class="form-control input-sm" [(ngModel)]="rowsOnPage" style=" margin-left: 47px;margin-top:-30px;"> 
            
            
                    <option [ngValue]="5">5</option>
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="15">15</option>

              
                </select>-->

        </div>
        <div class="col-xs-6">

            <input class="form-control" style="margin-left:802px;margin-top:20px;width:170px;" placeholder="Search" [(ngModel)]="filterQuery"
            />
            <!--<div class="row">
                    <label class="col-xs-12 label-control" style="margin-left:24px;">Sort by</label>
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <select class="form-control input-sm" [(ngModel)]="sortBy" style="margin-left: 25px;">
                            <option ngValue="name">Name</option>
                            <option ngValue="email">Email</option>
                            <option ngValue="age">Age</option>
                            <option [ngValue]="sortByWordLength">City</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <select class="form-control input-sm" [(ngModel)]="sortOrder" style="margin-left: 25px;">
                            <option ngValue="asc">Ascending</option>
                            <option ngValue="desc">Descending</option>
                            <option ngValue="badValue">Bad value</option>
                        </select>
                    </div>
                </div>-->
        </div>
    </div>
    <!--</div>-->
    <!--<div class="panel panel-default">
       -->

    <table class="table table-striped " [mfData]="data | dataFilter :filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
        [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder" style="background-color:white;margin-top:20px; ">

        <!--<input class="form-control" style= "margin-left:728px;margin-top:20px;width:170px;" placeholder="Search"[(ngModel)]="filterQuery"/> -->
        <thead>
            <!--<tr>
                       <th>-->
            <select class="form-control input-sm" [(ngModel)]="rowsOnPage" style=" margin-left: 47px;margin-top: -65px;"> 
            
            
                    <option [ngValue]="5">5</option>
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="15">15</option>

              
                </select>

            <!--</th>


                   </tr>    -->

            <tr>
                <!--<th style="width: 10%"></th>-->
                <th style="width: 10%">
                    <mfDefaultSorter by="orgId"><a style="font-size:16px;">Id</a></mfDefaultSorter>
                </th>

                <th style="width: 13%">
                    <mfDefaultSorter by="orgName"><a style="font-size:16px;">FullName</a></mfDefaultSorter>
                </th>
                <th style="width: 13%">
                    <a style="font-size:16px;">Photo</a>
                </th>
                <!--<th style="width: 2%">
                    <mfDefaultSorter by="orgEmail"><a style="font-size:16px;">Email</a></mfDefaultSorter>
                </th>-->

                <th style="width: 13%">
                    <mfDefaultSorter by="orgContact"><a style="font-size:16px;">Contact</a></mfDefaultSorter>
                </th>
                <th style="width:10%">
                    <mfDefaultSorter by="orgCountry"><a style="font-size:16px;">Country</a></mfDefaultSorter>
                </th>
                <th style="width: 11%">
                    <mfDefaultSorter by="orgCity"><a style="font-size:16px;">City</a></mfDefaultSorter>
                </th>
                <th style="width: 10%">
                    <mfDefaultSorter by="orgIacad"><a style="font-size:16px;">Iacad</a></mfDefaultSorter>
                </th>


                <th colspan="3">Action</th>
            </tr>
            <!--<tr>-->

            <!--<th colspan="3">
                        Filter by name:
                        <input class="form-control" style= "margin-left:52px;"[(ngModel)]=" dataFilter"/>
                    </th>-->
            <!--
                    <th>
                           <select class="form-control input-sm" [(ngModel)]="rowsOnPage" style=" margin-left: 47px;margin-top:-30px;"> 
            
            
                    <option [ngValue]="5">5</option>
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="15">15</option>

              
                </select>

                    </th>-->
            <!--</tr>-->
        </thead>
        <tbody>
            <tr *ngFor="let item of mf.data">


                <!--<td>
                        <button (click)="remove(item)" class="btn btn-danger">x</button>
                    </td>-->
                <td style="padding-top: 25px;">{{item.orgId}}</td>
                <td style="padding-top: 25px;">{{item.orgName}}</td>
                <!--<td>{{item.photo}}</td>-->
                <td><img class="img" style="margin-left:0px;border-radius: 50%;height: 81px;width: 87px;" [src]="item.orgPhoto!= null ?item.orgPhoto : myImgUrl"></td>
                <!--<td>{{item.orgEmail}}</td>-->
                <td style="padding-top: 25px;">{{item.orgContact}}</td>
                <td style="padding-top: 25px;">{{item.orgCountry | uppercase}}</td>
                <td style="padding-top: 25px;">{{item.orgCity | uppercase}}</td>
                <td style="padding-top: 25px;">{{item.orgIacad}}</td>

                <td colspan="3">

                    <button class="btn btn-success" (click)="approve(item)" style="margin-top:-1px;">
                      <i class="fa fa-check" aria-hidden="true"></i>
                        Approve
                  <!--<i class="fa fa-unlock " (click)="approve(item)"></i>-->
                 <!--<span class="tooltiptext">Approve</span>-->
                 </button>
                    <button class="edit1" *ngIf="item.blockStatus == 0">
                 <i class="fa fa-unlock edit" (click)="block(item, 1)" style="margin-top:-43px;"></i>
                 <span class="tooltiptext">Block</span>
                 </button>
                    <button class="edit1" *ngIf="item.blockStatus == 1">
                 <i class="fa fa-lock edit" (click)="block(item, 0)" style="margin-top:-43px;"></i>
                 <span class="tooltiptext">Unblock</span>
                 </button>


                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <mfBootstrapPaginator></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
        </table>
        <!--</div>-->
        <!--</div>-->
</div>