<!--<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Edit Details</h4>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container fluid">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value,$event)" class="form-horizontal">
      <div class="form-group row">
        <div class="col-md-2"></div>
        <div class="col-md-4"><h4>User Name</h4></div>
        <input type="text" formControlName="name" [(ngModel)]="name" value={{activeCustomer.userName}}>
        </div>
         <div class="form-group row">
        <div class="col-md-2"></div>
        <div class="col-md-4"><h4>Bank Name</h4></div>
        <input type="text" formControlName="bank" [(ngModel)]="bank" value={{activeCustomer.bankDetails.bankName}}>
        </div>
         <div class="form-group row">
        <div class="col-md-2"></div>
        <div class="col-md-4"><h4>Bank Country</h4></div>
        <input type="text" formControlName="country" [(ngModel)]="country" value={{activeCustomer.bankDetails.bankCountry}}>
        </div>
         <div class="form-group row">
        <div class="col-md-2"></div>
        <div class="col-md-4"><h4>Beneficiary Name</h4></div>
        <input type="text" formControlName="beneficiary" [(ngModel)]="beneficiary" value={{activeCustomer.bankDetails.beneficiaryName}}>
        </div>
         <div class="form-group row">
        <div class="col-md-2"></div>
        <div class="col-md-4"><h4>iban Number</h4></div>
        <input type="text" formControlName="iban" [(ngModel)]="iban" value={{activeCustomer.bankDetails.ibanNumber}}>
        </div>
  

  <div class="form-group">
  <div class="modal-footer">
    <button class="btn create-btn " type="submit">Update</button>
  </div>
    </div>
  
      </form>
    <button class="btn cancel-btn " (click)="closeModal()">Cancel</button>

   
  </div>
  </div>
  </div>
    
 -->

xhbgfdxj
hgxcvchfbbhv
hyurttweuyr
hfdsjgsyg
