@import '../../../theme/sass/auth';
.multilingual-link {
    cursor: pointer;
    color: #54FF9F !important;
}

.logo {
    position: absolute;
    left: 109px;
    width: 122px;
    height: 99px;
    object-fit: contain;
}

.Rectangle-5 {
    // position: absolute;
    // top: 301.5px;
    // left: -32.5px;
    // width: 388.9px;
    // height: 53.5px;
    // background-image: linear-gradient(262deg, #4083ff, #3772de);
        position: absolute;
    top: 301.5px;
    left: 160.5px;
    width: 159.9px;
    height: 35.5px;
   
}

#txt {
    position: relative;
    top: 169px;
    font-weight: bold;
}

.Mask {
  position: absolute;
    top: 142.5px;
   left: 33px;
    width: 408.2px;
    height: 43.1px;
    border-radius: 3.8px;
    // background-color: #ffffff;
    border: solid 1.1px #f0f0f0;
    color: white;
    background-color: black;
  
    
}

.Rectangle-3-Copy-2 {
    position: absolute;
    top: 231.5px;
   left: 36px;
    width: 405.2px;
    height: 45.1px;
    border-radius: 3.8px;
    // background-color: #ffffff;
    border: solid 1.1px #f0f0f0;
    color: white;
    background-color: black;
}

.min {
    position: absolute;
    top: 32.5px;
    left: 7px;
    color: red;
}

.min2 {
    position: absolute;
    top: 38.5px;
    left: 7px;
    color: red;
}

.notmatch {
    position: absolute;
    top: 281.5px;
    left: 7px;
    color: red;
}
.reset-btn
{

    margin-top: 295px;
    margin-left: 197px;
  
}
.resetpass
{ float:right;
	// color:#fff!important;
	text-decoration: none;
	margin-left:450px;
	margin-top:-19px;
	cursor:pointer;
	
}

.Mask
{
    &:focus
    {
      color: white;

    }

}
.Rectangle-3-Copy-2 
{
&:focus{

    color: white;
}

}
.bbt
{
  margin-top: 299px;
    margin-left: 115px;
    width: 163px;


}