<!--<div class="auth-main">
    <div class="auth-block">

        
        <div class="col-sm-10">
            <p class="Enter-your-email-bel" id="txt">Enter New Password to Reset .
            </p>
        </div>

        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
            <div class="col-sm-10">
                <div class="form-group row" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
                    <span class="min" *ngIf="(!password.valid && password.touched)">Min 8 characters required</span>
                    <input [formControl]="password" type="password" class="form-control" placeholder="Password" id="inputPassword3" [(ngModel)]="user.password">
                </div>
            </div>
            <div class="col-sm-10">
                <div class="form-group row" [ngClass]="{'has-error': (!confirmpassword.valid && confirmpassword.touched), 'has-success': (confirmpassword.valid && confirmpassword.touched)}">
                    <span class="min2" *ngIf="(!confirmpassword.valid && confirmpassword.touched)">Min 8 characters required</span>
                    <input [formControl]="confirmpassword " type="password" class="form-control Rectangle-3-Copy-2" placeholder="Confirm Password" id="inputPassword4 " [(ngModel)]="user.confirmpassword ">
                </div>
            </div>
            <div class="col-sm-10">
                <div class="form-group row ">
                    <button [disabled]="!form.valid " type="submit " class="reset-btn">Submit</button></div>
                <div *ngIf="!passwords.valid && (password.touched || confirmpassword.touched) " class="notmatch">
                    Passwords does not match.
                </div>
            </div>
        </form>

    </div>
</div>
<style>
    .bp-p-default {
        padding: 0.75rem 1.25rem;
    }
</style>
-->
<div class="auth-main">
    <div class="auth-block">
         <button type="button" class="resetpass" routerLink="/forgot-password">
          <i class="fa fa-arrow-left fa-2x" style="color:#fff" aria-hidden="true"></i>
        </button>
       
        <div class="col-sm-10">
            <p class="Enter-your-email-bel" id="txt">Enter New Password to Reset .
            </p>
        </div>
       

        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
        
            <div class="col-sm-10">
                    <div class="form-group row"></div>
                      <div class="form-group row"></div>
                       <div class="form-group row"></div>
                      <div class="form-group row"></div>
                <div class="form-group row" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
                    <span class="min" *ngIf="(!password.valid && password.touched)">Min 8 characters required</span>
                    <input [formControl]="password" type="password" class="form-control" placeholder="Password" id="inputPassword3" [(ngModel)]="user.password">
                </div>
            </div>
            <div class="form-group row"></div>
             <div class="form-group row"></div>

            <div class="col-sm-10">
                <div class="form-group row" [ngClass]="{'has-error': (!confirmpassword.valid && confirmpassword.touched), 'has-success': (confirmpassword.valid && confirmpassword.touched)}">
                    <span class="min2" *ngIf="(!confirmpassword.valid && confirmpassword.touched)">Min 8 characters required</span>
                    <input [formControl]="confirmpassword " type="password" class="form-control" placeholder="Confirm Password" id="inputPassword4 " [(ngModel)]="user.confirmpassword ">
                </div>
            </div>
            <br/><br/><br/>
            <div class="col-sm-10">
                <div class="form-group row ">
                   
                    </div>
                <div *ngIf="!passwords.valid && (password.touched || confirmpassword.touched) " class="notmatch">
                    Passwords does not match.
                </div>
            </div>
            <div class="form-group row"></div>
            <!--<button type="button" class="resetpass" routerLink="/forgot-password" style="margin-top:65px">
          <i class="fa fa-arrow-left fa-2x" style="color:#fff" aria-hidden="true"></i>
        </button>-->
           <button [disabled]="!form.valid" type="submit" class="btn bbt" > Submit</button>
        </form>

    </div>
</div>
<style>
    .bp-p-default {
        padding: 0.75rem 1.25rem;
    }
</style>



