<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title"> Cancel Booking</h4>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h5>Are you sure you want to cancel Booking? </h5>
  </div>
  <div class="modal-footer">
    
    <button class="btn btn-primary confirm-btn" (click)="closeModal()">Close</button>

  </div>
</div>
