
@import "../../../theme/sass/conf/conf";

.modal {
  //padding-top: 300px;

  .modal-content {
    color: $dropdown-text;
    border: none !important;
    .modal-header {
      border: none;
    }

    .modal-footer {
      border: none;
    }

    .close {
      outline: none;
    }
  }
}

.modal-buttons .btn {
  margin-right: 20px;
}
