@import "../../../../../../theme/sass/conf/conf";

.modal-buttons .btn {
  margin-right: 20px;
}

.modal-content {
  color: $dropdown-text;
}
 .edit-details
{color:black;}
.edit-input
{color:black;
}
 .forgotpass-backbutton
 {color: $dropdown-text;}