<div class="modal-content">
  <div class="modal-header">

    <button class="close" aria-label="Close" (click)="closeModal()" routerLink="/login">
      
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngIf="!uploadFlag" class="modal-body">
 Password Reset Link has been sent to your email.
 
  </div>
  
</div>
