@import "../../sass/conf/conf";

.modal-buttons .btn {
 // margin-right: 20px;
  margin: auto;
}

.modal-content {
  color: $dropdown-text;
  margin: auto;
}


.modal-content {
  margin-top: 200px;
  //min-height: 40vh ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  margin: auto;
 /* @media(max-width: 768px) {
    min-height: calc(100vh - 20px);
  }*/
}

.logout
{

   font-size: 26px;
    text-align: center;
    color: white;
    margin-top: 18px;
}
