<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Booking({{activeBooking._id}})</h4>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="activeBooking" class="col-xs-12">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">Key</div>
        <div class="col-md-6 col-sm-6 col-xs-12">Value</div>
      </div>

      <div class="row" *ngFor="let key of activeBooking | pairs ">
        <div class="col-md-6 col-sm-6 col-xs-12">{{key[0]}}</div>
        <div class="col-md-6 col-sm-6 col-xs-12">{{key[1]}}</div>
      </div>

     </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary confirm-btn" (click)="closeModal()">Close</button>
  </div>
</div>
