@import "~normalize.css";
@import "theme/theme";

 
.all
{
    width:50px;
    height:50px!important;

}
.fa
{
    color:white;
    font-size: 20px;
}
.alt{
    display: none;

}
.fa.fa-angle-down
{color:black!important;
}
.fa.fa-angle-up
{color:black!important;
display:inline-block;
} 
 .fa.fa-angle-right
{color:black!important;
} 
 .fa.fa-angle-left
{color:black!important;
margin-top:20px;
display:inline-block;
} 

.cdk-overlay-container .cdk-overlay-pane{
  position:absolute;
  background: #fff;
}


:hov


.cls

element.style {
}
.ui-timepicker>div {
    display: inline-block;
    margin-left: .5em;
    min-width: 1.5em;
}
.ui-widget, .ui-widget * {
    box-sizing: border-box;
}

.ui-timepicker {
    text-align: center;
    padding: .5em 0;
}

.ui-widget-header {
    border: 1px solid #d9d9d9;
    background: #f6f7f9;
    color: #1b1d1f;
    font-weight: normal;
}
.ui-widget {
    font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1em;
}
.ui-timepicker>.ui-separator {
    margin-left: 0;
    min-width: .75em;
}
.ui-datepicker.ui-widget .ui-datepicker-calendar td {
    border-bottom: 1px solid rgba(213, 213, 213, 0.5);
    padding: 0;
}
.ui-datepicker.ui-widget .ui-datepicker-calendar {
    margin: 0;
}

.ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
}
.ui-datepicker.ui-widget .ui-datepicker-calendar thead th {
    background-color: #f6f8fa;
    padding: 8px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
 
    
}
.ui-timepicker>div {
    display: inline-block;
    margin-left: .5em;
    min-width: 1.5em;
}
.ui-helper-clearfix {
    zoom: 1;
}
.ui-separator a {
    visibility: hidden;
}

.ui-widget-header {
    border: 1px solid #d9d9d9;
    background: #f6f7f9;
    color: #1b1d1f;
    font-weight: normal;
}
.table.user
{

    border-top: 3px solid grey;
}

.al-main {
    margin-left: 180px;
    padding: 66px 0 34px 0;
    min-height: 500px;
    position: relative;
    // background-color: white;
    background-color: #f2f5f8;
}


button.btn.btn-primary {
    background-color: #1a252f;
    border-color: #1a252f;
    color: #fff;
    margin:18px;
}


.modal-content {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    margin: auto;
    // background-color: black;

    background-color: white;
}