@import '../../../theme/sass/auth';

$black-color:#242424;

.multilingual-link{
	cursor: pointer;
	color: #54FF9F !important;
}
.forgot-password
{ 
	// float:right;
	color:#fff!important;
	text-decoration: none;
	// margin-left:350px;
// margin-top: 0px;
	cursor:pointer;
	
}
.erm
{color:red;
margin-left:20px;}

.remember
{
	color:#fff!important;
	float:left; 
	
}

.check{
	margin:0 5px 0 0 ;
}

.forgot{ text-align: right; margin-top: -40px;
    margin-left: 256px;}
.forgot a{text-align: right;
		font-size: 14px;
		color: #434345;}
.forgot a:hover{color: #575757;}
// .rest
// {

// margin-top: -42px;
// height: 64px;

// }

.img

{
 
    width: 129px;
    height: 54px;
   margin-left: 84px;
   border-radius:0px;

}