<div class="auth-main">
  <div class="auth-block">
    <!--<h1>Sign In</h1>-->
    <img class="img" src="../assets/img/logo_zakati.png" alt="logo">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value,$event)" class="form-horizontal">
      <div class="error-message">{{message}}</div>
      <div class="form-group row" [ngClass]="{'has-error': (email.touched&&!email.valid), 'has-success': (email.valid &&email.touched)}">

        <div class="col-sm-12">
          <input [formControl]="email" value={{session}} type="email" class="form-control" id="inputEmail3" placeholder="Email address*"
            [(ngModel)]="user.email" autocomplete="off">
            <div [hidden]="email.valid || (email.untouched && !submitted) || !submitted" class="alert bp-p-default">
            </div>
            <div class="error-message" *ngIf="form.controls.email.touched && !form.controls.email.valid">Enter a valid email id !!
            </div>
        </div>
        <div class="col-sm-1"></div>
        <br>
      </div>
      <div class="form-group row" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">

        <div class="col-sm-12">
          <input type="password" class="form-control" placeholder="Password*" [(ngModel)]="user.password" [formControl]="password"
            autocomplete="off">
            <span class="error-message " *ngIf="form.controls.password.touched && !form.controls.password.valid">Password is required and mininimum of 4 characters!!
            </span>
        </div>
        <div class="col-sm-1"></div>
      </div>
      <!--<div class="form-group row ">
          <div class="col-sm-12">
            <div class="checkbox">
              <label><input type="checkbox" formControlName="remember" [(ngModel)]="remember" class="check"> Remember me</label>
            </div>
          </div>
      </div>-->
      <div class="form-group row"></div>

     <div class="form-group row"></div>
        <div class="form-group row"></div>
        <div class="form-group row ">
          <div class="col-sm-12">
            <div class="checkbox">
              <label><input type="checkbox" formControlName="remember" [(ngModel)]="remember" class="check"> Keep me signed in</label>
            </div>
          </div>
        </div>


      <div class="form-group row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <button [disabled]="!form.valid" style="margin-left:73px;" type="submit" class="btn btn-default btn-lg btn-block">Sign in</button>
        </div>
        <!--<div class="form-group row"></div>
        <div class="form-group row"></div>
        <div class="form-group row ">
          <div class="col-sm-12">
            <div class="checkbox">
              <label><input type="checkbox" formControlName="remember" [(ngModel)]="remember" class="check"> Keep me signed in</label>
            </div>
          </div>
        </div>-->
        <!--<div class="col-md-6 col-sm-6 col-xs-12 forgot">
          <a routerLink="/forgot-password" class="forgot-password">Forgot password?</a>
               
        </div>-->

        <!--<div class="erm row">
            <div *ngIf="form.valid">{{erm}}</div>
         </div>-->
      </div>
    </form>
  </div>
</div>