<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title">Add Category</h3>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true" style="color:white">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container fluid">
       <form [formGroup]="form"  class="form-horizontal">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4"><h4>Category Name</h4></div>
         <input formControlName="name" placeholder="Category Name*" [(ngModel)] = "name" autocomplete="off">
               <small [hidden]="form.controls.name.valid || (form.controls.name.pristine && !submitted)" class="text-danger">
                 Name is required.
              </small>
        <!--<div class="col-md-6"> {{activeCustomer.bankName}}</div>-->
      </div>
      <!--<div class="text-danger">Name is Required*</div>-->
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4"><h4>Image</h4></div>
        <!--<div class="col-md-6"> {{activeCustomer.bankCountry}}</div>-->
           <input type="file" imageUpload
       (change)="selected($event)" formControlName="image" [(ngModel)]="image" accept="image/*"  >

         <!--<small [hidden]="form.controls.image.valid || (form.controls.name.pristine && !submitted)" class="text-danger">
                 Image is required.
              </small>-->
              <small [hidden]="form.controls.image.valid || (form.controls.image.pristine && !submitted)" class="text-danger">
                 Image is required.
              </small>
      </div>
      <!--<div class="text-danger">Image is Required*</div>-->
       <!--<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4"><h4>Beneficiary Name</h4></div>
      
      </div>-->
       <!--<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4"><h4>iban Number</h4></div>
      
      </div>-->
       </form>
    </div>
  </div>
  
  <div class="modal-footer">
      <button  class="btn btn-primary" (click)="onSubmit(form.value)">Add </button>
    <button class="btn btn-danger" (click)="closeModal()">Close</button>
  </div>
</div>

