@import "../../../../theme/sass/conf/conf";

.modal-buttons .btn {
 // margin-right: 20px;
  margin: auto;
}

.modal-content {
  color: $dropdown-text;
  margin: auto;
}


.modal-content {
  margin-top: 200px;

  //min-height: 40vh ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  margin: auto;
  background-color: black;
 /* @media(max-width: 768px) {
    min-height: calc(100vh - 20px);
  }*/
}

