<!--<div class="modal-content">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
    <div class="modal-header">

      <h4 class="modal-title">Edit Customer</h4>
      <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body" style="background-color: lightskyblue;">

<div class="form-group row" [ngClass]="{'has-error': (!name.valid && name.touched), 'has-success': (name.valid && name.touched)}">
  <label for="inputName3" class="col-sm-3 control-label">customerName</label>

  <div class="col-sm-9">
    <input [formControl]="name" type="text" class="form-control" id="inputName3" placeholder="Full Name">
  </div>
</div>
<div class="form-group row" [ngClass]="{'has-error': (!countryCode.valid && countryCode.touched), 'has-success': (countryCode.valid && countryCode.touched)}">
  <label for="countryCode" class="col-sm-3 control-label">customerCountryCode</label>

  <div class="col-sm-9">
    <input [formControl]="countryCode" type="text" class="form-control" id="countryCode" placeholder="Country Code">
  </div>
</div>

<div class="form-group row" [ngClass]="{'has-error': (!mobile.valid && mobile.touched), 'has-success': (mobile.valid && mobile.touched)}">
  <label for="mobile" class="col-sm-3 control-label">customerPhone</label>

  <div class="col-sm-9">
    <input [formControl]="mobile" type="text" class="form-control" id="mobile" placeholder="Mobile">
  </div>
</div>

<div class="form-group row" [ngClass]="{'has-error': (!companyName.valid && companyName.touched), 'has-success': (companyName.valid && companyName.touched)}">
  <label for="companyName" class="col-sm-3 control-label">companyName</label>

  <div class="col-sm-9">
    <input [formControl]="companyName" type="text" class="form-control" id="companyName" placeholder="Company Name">
  </div>
</div>


<div class="form-group row" [ngClass]="{'has-error': (!companyAddress.valid && companyAddress.touched), 'has-success': (companyAddress.valid && companyAddress.touched)}">
  <label for="companyAddress" class="col-sm-3 control-label">companyAddress</label>

  <div class="col-sm-9">
    <input [formControl]="companyAddress" type="text" class="form-control" id="companyAddress" placeholder="Company Address">
  </div>
</div>
</div>
<div class="modal-footer">
  
  <button [disabled]="!form.valid" type="submit" class="btn btn-primary">Update</button>
 
  <button class="btn btn-danger " (click)="closeModal()">customerClose</button>
</div>
</form>
</div>-->

<div class="modal-header"  style="background-color: #2c3e50;">
  <h2 class="modal-title" style="color:black;">Edit Details</h2>
  <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body"style="background-color:white;"> 
  <div class="container fluid">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value,$event)" class="form-horizontal">
      <!--       
            <div class="form-group ">
      <div class="row">
          <div class="col-sm-4">
            <h4 class="modal-title">Id</h4>
          </div>
            <div class="col-sm-7">
       
          
              <input type="text" class="form-control" formControlName="id" [(ngModel)]="id" >
       
            </div>
        </div>
        </div>

-->


      <div class="form-group ">
        <div class="row">
          <div class="col-sm-4">
            <h4 class="modal-title">User Name</h4>
          </div>
          <div class="col-sm-7">

            <!--<input type="text" class="form-control" formControlName="name" [(ngModel)]="name" value="{{activeCustomer.name}}">-->
            <input type="text" class="form-control" formControlName="name" [(ngModel)]="data.name" value="{{data.name}}">

          </div>
        </div>
      </div>

      <!--<div class="form-group ">

        <div class="row">
          <div class="col-sm-4 ">
            <h4 class="modal-title">Email Address</h4>
          </div>




          <div class="col-sm-7 ">
        

            <input [formControl]="email" type="email" class="form-control" id="inputEmail3" placeholder="Email address*" autocomplete="off" value="{{res.response[0].email}}">
            <div [hidden]="email.valid || (email.untouched && !submitted) || !submitted" class="alert bp-p-default">
            </div>
            <div class="error-message" *ngIf="form.controls.email.touched && !form.controls.email.valid">Enter a valid email id !!
            </div>


          </div>

        </div>



      </div>
-->





      <div class="form-group ">

        <div class="row">
          <div class="col-sm-4 ">
            <h4 class="modal-title">Profile Picture</h4>
          </div>




          <div class="col-sm-7 ">


            <input class="form-control" type="file" imageUpload (change)="selected($event)" style="color:transparent" accept="image/x-png,image/gif,image/jpeg"
              formControlName="image" [(ngModel)]="image" >

          </div>

        </div>



      </div>
      <div class="form-group row">
        <div class="col-md-6"></div>
        <img width="200" height="200" style="margin-left:-105px;border-radius:50%;" [src]="src" />

      </div>



      <div class="form-group ">
        <div class="row">
          <div class="col-sm-4">
            <h4 class="modal-title">Address</h4>
          </div>
          <div class="col-sm-7">

            <!--<input type="text" class="form-control" formControlName="name" [(ngModel)]="name"v me}}">-->
            <input type="text" class="form-control" formControlName="address" [(ngModel)]="data.address" value="{{data.address}}">

          </div>
        </div>
      </div>

      <div class="form-group ">
        <div class="row">
          <div class="col-sm-4">
            <h4 class="modal-title">PhoneNumber</h4>
          </div>
          <div class="col-sm-7">

            <!--<input type="text" class="form-control" formControlName="name" [(ngModel)]="name" value="{{activeCustomer.name}}">-->
            <input type="text" class="form-control" formControlName="phone" [(ngModel)]="data.phone" value="{{data.phone}}">

          </div>
        </div>
      </div>

  
      <!--<div class="form-group ">
        <div class="row">
          <div class="col-sm-4">
            <h4 class="modal-title">Password</h4>
          </div>
          <div class="col-sm-7">

        
            <input type="password" class="form-control" placeholder="Password*" [(ngModel)]="password" formControlName="password" autocomplete="off">
            <span class="error-message " *ngIf="form.controls.password.touched && !form.controls.password.valid">Password is required and mininimum of 4 characters!!
            </span>

          </div>
        </div>
      </div>-->













      <div class="form-group">
        <div class="modal-footer">
          <button class="btn btn-primary confirm-btn" [disabled]="!form.valid" type="submit">Update</button>

          <button type="button" class="btn btn-danger" (click)="closeModal()">Cancel</button>

        </div>
      </div>
    </form>

  </div>
</div>

<!--</div>-->