<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)"
     [ngClass]="{scrolled: isScrolled}">
   <div class="head">  
  <a routerLink="/pages/dashboard" class="al-logo clearfix"><span>Zakati</span></a>
 
  <a href (click)="toggleMenu()" class="collapse-menu-link ion-navicon"></a>
 
  </div>

  <div class="user-profile clearfix">
    <!--<i class="fa fa-sign-out logout " (click) ="logout()" aria-hidden="true"><span class="tooltiptext">logout</span></i>-->
      <img  src='../assets/img/profile.jpg'class="profile " (click) ="logout()" aria-hidden="true">
    <!--<div class="dropdown al-user-profile">
    
     
</div>-->
<div class="dropdown" style="margin-top:-28px;">
  <button style="margin-top: -68px; margin-left: 190px;background-color: white;border: white;" type="button" data-toggle="dropdown">
{{data.name}} <i class="fa fa-caret-down" aria-hidden="true" style="color:black;cursor:pointer;"></i></button>
  <ul class="dropdown-menu">
    <li><a routerLink="/pages/Booking">Profile</a></li>
    <li><a (click) ="logout()" style="cursor:pointer;">Logout</a></li>
  </ul>
</div>
