@import '../../sass/conf/conf';


.page-top {
  // background-color:green;
  background-color: white;
  position: fixed;
  z-index: 904;
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.5);
  height: 66px;
  width: 100%;
  min-width: $resMin;
  padding: 0 32px 0 40px;

  .dropdown-toggle::after {
    display: none;
  }
}

.blur {
  .page-top.scrolled {
    background-color: rgba(black, 0.85)
  }
}

a.al-logo {
  color: $sidebar-text;
  display: block;
  font-size: 24px;
  font-family: $font-family;
  white-space: nowrap;
  float: left;
  outline: none !important;
  line-height: 60px;
  margin-left: 11px;

  span {
    color:#fff;

    margin-left: 33px;
    font-weight: bold;
    font-size: 33px;
  }
}

a.al-logo:hover {
  color: #fff;
}

.user-profile {
  float: right;
  min-width: 230px;
  margin-top: -55px;
}

.al-user-profile {
  float: right;
  margin-right: 12px;
  transition: all .15s ease-in-out;
  padding: 0;
  width: 36px;
  height: 36px;
  border: 0;
  opacity: 1;
  position: relative;
  ul.profile-dropdown:after {
    bottom: 100%;
    right: 0;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-right: 28px;
  }
  a {
    display: block;
  }
  img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
}

a.refresh-data {
  color: $sidebar-text;
  font-size: 13px;
  text-decoration: none;
  font-weight: $font-normal;
  float: right;
  margin-top: 13px;
  margin-right: 26px;

  &:hover {
    color: $warning !important;
  }
}

a.collapse-menu-link {
  font-size: 31px;
  cursor: pointer;
  display: block;
  text-decoration: none;
  line-height: 42px;
  // color: $sidebar-text;
  color:black;
  padding: 0;
  float: left;
 margin: -47px 0 0 194px;

  &:hover {
    text-decoration: none;
    color: $warning;
  }
}

.al-skin-dropdown {
  float: right;
  margin-top: 14px;
  margin-right: 26px;

  .tpl-skin-panel {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.icon-palette {
  display: inline-block;
  width: 14px;
  height: 13px;
  @include bg('theme/palette.png');
  background-size: cover;
}

.search {
  text-shadow: none;
  font-size: 13px;
  line-height: 25px;
  transition: all 0.5s ease;
  white-space: nowrap;
  overflow: hidden;
  width: 162px;
  float: left;
  margin: 20px 0 0 30px;

  label {
    cursor: pointer;
  }
  i {
    width: 16px;
    display: inline-block;
    cursor: pointer;
    padding-left: 1px;
    font-size: 16px;
    margin-right: 13px;
  }
  input {
    color: $sidebar-text;
    background: none;
    border: none;
    outline: none;
    width: 120px;
    padding: 0;
    margin: 0 0 0 -3px;
    height: 27px;
  }
}

@media screen and (max-width: $resS) {
  .search {
    display: none;
  }
}

@media screen and (max-width: $resXS) {
  .page-top {
    padding: 0 20px;
  }
}

@media (max-width: $resXXS) {
  .user-profile{
    min-width: 136px;
    
  }
  a.refresh-data {
    margin-right: 10px;
  }
  a.collapse-menu-link {
    margin-left: 10px;
  }

  .al-skin-dropdown {
    display: none;
  }
}

.profile-toggle-link{
  cursor: pointer;
}

.fa.logout
{
  margin-top:6px;
  margin-left:200px;
  font-size:30px;
  cursor:pointer;
  position:relative;
display:inline-block;
color:black;


 &:hover .alt{
     display: block;
 }
  
}

.fa.logout .tooltiptext {
    visibility: hidden;
    width: 47px;
    height:30px;
    background-color:black;
    color: #fff;
    text-align: center;
   padding: 3px 0;
    border-radius: 1px;
    font-size:15px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
// Show the tooltip text when you mouse over the tooltip container */
.fa.logout:hover .tooltiptext {
    visibility: visible;

}
.alt{
    display: none;
}

.head
{
    background-color: #2c3e50;
    height: 66px;
    margin-left: -42px;
    width: 182px;

 
}

.profile
{

    height: 49px;
    margin-left: 138px;
    cursor: pointer;

}
// .profile .tooltiptext {
//     visibility: hidden;
//     width: 47px;
//     height:30px;
//     background-color:black;
//     color: #fff;
//     text-align: center;
//    padding: 3px 0;
//     border-radius: 1px;
//     font-size:15px;
 
//     /* Position the tooltip text - see examples below! */
//     position: absolute;
//     z-index: 1;
// }
// Show the tooltip text when you mouse over the tooltip container */
.profile.tooltiptext  {
  &:hover
  {
     
     background-color:black;
    // color: black;
    // display: block;
     }

  } 
     


