.modal-header {
  border: none;
  padding: 10px 15px 0 15px;
  background-color: white
}

.modal-footer {
  border: none;
}

button.close {
  padding-bottom: 2px;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;

  &:hover {
    opacity: .5;
  }
}

.modal-content {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    margin: auto;
    // background-color: white;
    // background-color: black;
    background-color: white;
}
