@import "../../../../theme/sass/conf/conf";

.modal-buttons .btn {
  margin-right: 20px;
}

.modal-content {
  color: $dropdown-text;
}
.create-label
{
  color:black!important;
}
.fa.fa-angle-down
{color:black!important;
}

