<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Create Competition</h4>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <br>
  <div class="modal-body">
    <div class="container-fluid">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value,$event)" class="form-horizontal">
       <div class="form-group row">
                         <div class="col-sm-4 create-label">Competition Name</div>
     
              <div class="col-sm-8">
            <input formControlName="competition" placeholder="Competition Name*" [(ngModel)] = "competition" autocomplete="off">
               <small [hidden]="form.controls.competition.valid || (form.controls.competition.pristine && !submitted)" class="text-danger">
                 Name is required.
              </small></div>
       </div>
     
       <div class="form-group row">
             
             <div class="col-sm-4 create-label">Competition Message</div>
     
              <div class="col-md-8">
            <input formControlName="message" placeholder="Competition Message*" [(ngModel)] = "message" autocomplete="off">
              <small [hidden]="form.controls.message.valid || (form.controls.message.pristine && !submitted)" class="text-danger">
                 Message is required(minimum 5 characters).
              </small>
              </div>
       </div>
       <div class="form-group row">
        
             <div class="col-sm-4 create-label">Prize Value</div>
              <div class="col-md-8">
            <input formControlName="prize" placeholder="Prize Value" [(ngModel)] = "prize" autocomplete="off">
              </div>
       </div>
       <div class="form-group row">
          
             <div class="col-sm-4 create-label">Competition Brand</div>
     
              <div class="col-md-8">
            <input formControlName="brand" placeholder="Competition Brand" [(ngModel)] = "brand" autocomplete="off">
              <small [hidden]="form.controls.brand.valid || (form.controls.brand.pristine && !submitted)" class="text-danger">
                Brand is required.
              </small>
              </div>
       </div>
       <div class="form-group row">
       
             <div class="col-sm-4 create-label">Competition Description</div>
     
              <div class="col-md-8">
            <input formControlName="description" placeholder="Competition Description" [(ngModel)] = "description" autocomplete="off">
              <small [hidden]="form.controls.description.valid || (form.controls.description.pristine && !submitted)" class="text-danger">
              Description is required.
              </small>
              </div>
       </div>
       <div class="form-group row">
  
             <div class="col-sm-4 create-label">Terms & Conditions</div>
     
              <div class="col-md-8">
            <input formControlName="tc" placeholder="Terms & Conditions" [(ngModel)] = "tc" autocomplete="off">
              </div>
       </div>
       <div class="form-group row">
         
             <div class="col-sm-4 create-label">Start Time</div>
              <div class="col-md-8">
               <div class=" ui-g-12 ui-md-4">
               <p-calendar [(ngModel)]="date"  [showTime]="true" formControlName="date" [showIcon]="true" ></p-calendar>  
      <small [hidden]="form.controls.date.valid || (form.controls.date.pristine && !submitted)" class="text-danger">
              Date is required.
              </small>
               </div>
     
              </div>
       </div>
     
        <div class="form-group row">
          
             <div class="col-sm-4 create-label">End Time</div>
              <div class="col-md-8">
               <p-calendar [(ngModel)]="date2"  [showTime]="true" formControlName="date2" [showIcon]="true" ></p-calendar> <span style="margin-left:35px"></span> 
      <small [hidden]="form.controls.date2.valid || (form.controls.date2.pristine && !submitted)" class="text-danger">
              Date is required.
              </small>
              </div>
       </div>
          <div class="form-group">
  <div class="modal-footer">
    <button class="btn create-btn " type="submit">Submit</button>
  </div>
    </div>
      </form>
    <button class="btn cancel-btn " (click)="closeModal()">Cancel</button>
    </div>
        
  </div>
</div>
