@media screen and (min-width: 1620px) {
  .row.shift-up {
    > * {
      margin-top: -573px;
    }
  }
}

@media screen and (max-width: 1620px) {
  .card.feed-panel.large-card {
    height: 824px;
  }
}

.user-stats-card {
  .card-title {
    padding: 0 0 15px;
  }
}

.blurCalendar {
  height: 475px;
}
.count
{background-color: black;
color:white;
height: 50px;}

 .mat-datepicker-content {
  
    position:relative!important;
    margin-left:9293px!important;
    margin-top:-93px!important;
   
}

.cdk-overlay-container{}


 chart {
        display: block;
      }

