
<!--<br>
<br>
<br>
<br>
<form [formGroup]="form"  (ngSubmit)="onSubmit(form.value,$event)">
<div class="row" >
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
  
<md-input-container class="move">
              <input   [mdDatepicker]="picker"  mdInput placeholder="Select*" [(ngModel)] = "date"    formControlName="date">
              <button mdSuffix [mdDatepickerToggle]="picker" ></button>
                <md-datepicker #picker class="datepicker"></md-datepicker>
             </md-input-container>
             <button class="btn" type="submit">select </button>
            <div class="count">{{count}}</div> 
   
  </div>
</div>
</form>-->

<div class="row">
  <div class="col-md-12">
    <div style="display: block;">
    <canvas baseChart style="width:400;height:400"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>
   <!--<h1>Catagories</h1>
	  <p><select [(ngModel)]="selected">
	    <option value=""></option>
	    <option *ngFor="let datum of data" [ngValue]="datum">{{datum.name}}</option>
    </select>

	  <p><select [(ngModel)]="selected2">
	    <option *ngFor="let val of selected?.value" [ngValue]="val">{{val}}</option>
    </select>-->




   

  <div class="row">
  <div class="col-md-12">
  <chart [options]="options" ></chart>
  </div>
  </div>
  <br/><br/>
  <div class="row">
  <div class="col-md-12">
  <chart [options]="options1"></chart>
  </div>
  </div>
