@import "../../../../theme/sass/conf/conf";

.all
{
    width:50px;
    height:50px!important;

}
.edit
{color:black;
font-size: 20px;
margin-top: 15px;
margin-left:20px;
cursor:pointer;
position:relative;
display:inline-block;


 &:hover .alt{
     display: block;
 }
}
.details
{
 color:black;
font-size:20px;
margin-top:30px;
margin-left:20px;
background-color: transparent;
border:none; 
}
.competition-details
{
 color:slategray;
font-size:20px;
margin-top:30px;
margin-left:20px;
cursor:pointer;
background-color:black;
border:none; 
}
.edit1
{background-color:transparent;
border:none;}
.table.user
{
  color:black;


}
.img
{
  height:120px;
  width:130px;
}
/* Tooltip text */
.edit1 .tooltiptext {
    visibility: hidden;
    width: 57px;
    height:30px;
    background-color:black;
    color: #fff;
    text-align: center;
   padding: 3px 0;
    border-radius: 1px;
    font-size:15px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
// Show the tooltip text when you mouse over the tooltip container */
.edit1:hover .tooltiptext {
    visibility: visible;

}
.alt{
    display: none;
}


